<h1>Editing Order Detail</h1>
<%= form_with(model: @order_detail, :url => { :action => :update }, local: true) do |form| %>
    <% if @order_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>
  
        <ul>
        <% @order_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= form.label :item %>
      <%= form.text_field :item , class: 'form-control'%>
    </div>
  
    <div class="form-group">
      <%= form.label :amount %>
      <%= form.number_field :amount , class: 'form-control'%>
    </div>
  
    <div class="form-group">
      <%= form.label :price %>
      <%= form.number_field :price , class: 'form-control'%>
    </div>
  
    <div class="form-group">
      <%= form.label :comment %>
      <%= form.text_area :comment , class: 'form-control'%>
    </div>

      <%= form.submit class: 'btn btn-primary float-right' %>

 
    <% end %>

<%= link_to 'Cancel', order_order_user_order_details_path , class:"btn btn-secondary "%>

<hr>