<div class="row">
  <div class="col-sm-6">
  
    <h1> <b> <%= @order.restaurant%> </b> Order details</h1>
  </div>

  <% if @order.status == 'Waiting'%>
    <div class="col-sm-6 text-right">
    <%= link_to new_order_order_user_order_detail_path, class: 'btn btn-primary' do %>
      Add New Order detail
    <% end %>
    </div>
  <%end%>

</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
            <th>Person</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Comment</th>
            <th>Action</th>
        
      </tr>
    </thead>

    <tbody>
      <% @order_details.each do |order_detail| %>
        <%= content_tag :tr, id: dom_id(order_detail), class: dom_class(order_detail) do %>
          
          
          <td><%= order_detail.order_user.user.email %></td> 
          <td><%= order_detail.item %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.comment %></td>
          <td> 
           <% if order_detail.order_user.user.id == current_user.try(:id) %>
            <% if @order.status == 'Waiting'%>
              <%= link_to 'Edit', edit_order_order_user_order_detail_path(params[:order_id],params[:order_user_id],order_detail.id) , class:"btn btn-secondary"%>
              <%= link_to 'Cancel', order_order_user_order_detail_path(params[:order_id],params[:order_user_id],order_detail.id), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn text-danger' %>
            <% end %>
          <% end %>
         </td>
              
        <% end %>
      <% end %>
    </tbody>
  </table>

    <%= link_to 'Back', orders_path , class:"btn btn-secondary " %>

</div>
