


<div class="row">
  <div class="col-sm-6">
    <h1>Groups</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_group_path, class: 'btn btn-primary' do %>
    Add New Group
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
        <th>  </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <%= content_tag :tr, id: dom_id(group), class: dom_class(group) do %>
          
            <td><%= link_to group.name, group %></td>
            <td>
                <%= link_to 'Edit Name', edit_group_path(group) , class: "btn btn-secondary float-left"%>
                <%= link_to 'Destroy', group, method: :delete, class: "text-danger float-right ", data: { confirm: 'Deleted data can not be retrieved, are you sure you want to delete? ' } %>
            </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
