<% if current_user %>
    <h4>Welcome <b> <%= current_user.name %> </b> </h4> <hr>
    <div class="row">
        <div class="col-sm-6">
          <h2>Your Activities</h2>
        </div>
    </div>

    <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <% @latestActivity.each do |userActivity| %>
                  <%= content_tag :tr do %>
                    <% if userActivity[:link] != false %> 
                        <td><%= link_to userActivity[:info] ,userActivity[:link] %></td>
                    <% else %>
                        <td><%= userActivity[:info] %></td>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
    </div>



    <div class="row">
        <div class="col-sm-6">
          <h2>Friends Activities</h2>
        </div>
    </div>

    <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <% @friendsActivity.each do |activity| %>
                   <%= content_tag :tr do %>
                        <td><%= activity[:info] %></td>
                    <% end %>
                <% end %>
              </tbody>
            </table>
    </div>
      
      

<% else %>
<%= render 'newindex' %>
<% end %>


