<div class="row">
  <div class="col-sm-6">
    <h1>Friends</h1>
  </div>
<hr>
  <div class="col-sm-6 text-right">
  <%= link_to new_friendship_path, class: 'btn btn-primary' do %>
    Create New Friendship
  <% end %>
  </div>
</div>

<% for friendship in current_user.friendships %>
  <div class="user float-left" style="margin: 20px;padding:15px; text-align:center;width:200px" >
    <p>
        <div >

            <% if friendship.friend.avatar.attached? %>
                <%= image_tag friendship.friend.avatar.variant(resize: "#{100}x#{100}!"), class: "rounded-circle" %>
            <% else %>
                  <%= image_tag("avatar1.png", :alt => "Avatar Image", :style => "height:100px;width:100px;") %>
            <%end%>

        </div>
      <strong><%=h friendship.friend.first_name %> <%=h friendship.friend.last_name %> </strong> <br>
      <%= link_to "Unfriend", friendship, :method => :delete %>
    </p>
  </div>
<% end %>

<div style="clear:both;"></div>
<hr>

<h2>Users Who Have Befriended You</h2>
<ul>
  <% for user in current_user.inverse_friends %>
 <div class="user float-left" style="margin: 20px;padding:15px; text-align:center;width:200px" >
    <p>
    
        <div >
        <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize: "#{100}x#{100}!"), class: "rounded-circle" %>
            <% else %>
                  <%= image_tag("avatar1.png", :alt => "Avatar Image", :style => "height:100px;width:100px;") %>
            <%end%>
        </div>
      <strong><%=h user.first_name %> <%=h user.last_name %> </strong> <br>
    </p>
  </div>
  <% end %>
</ul>

<div style="clear:both;"></div>
