<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Orders
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Restaurant:</dt>
  <dd><%= @order.restaurant %></dd>

  <dt>Order for:</dt>
  <dd><%= @order.order_for %></dd>

  <dt>Status:</dt>
  <dd><%= @order.status %></dd>

<% if @order.menu.attached? %>
      <image src="<%=(url_for(@order.menu)) %>" , style="width:500px">
    <%else%>
      <%= image_tag gravatar_image_url('mohammed.alnaggar93@gmail.com', size: 250 ) %>
<% end %> 

</dl>
