<div class="page-header">
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt> Restaurant: </dt>
  <dd><%= @order.restaurant %></dd>

  <dt>Order for:</dt>
  <dd><%= @order.order_for %></dd>

  <dt>Status:</dt>
  <dd><%= @order.status %></dd>

  <dt>Menu:</dt>
  <% if @order.menu.attached? %>
   <image src="<%=(url_for(@order.menu))%>" ,
    style="width:50%; margin-bottom:50px; margin-top:10px;   position: relative;">
  <%else%>
    <dd> There is no menu attached on this order. </dd>
  <% end %>

</dl>

<div>
<% if @order.status != 'Finished'%>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary float-right' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
  <% end %>
<% end %>
</div>

<%= render :partial => 'order_details/order_details', order_details: @order_details ,order: @order ,invited_users: @invited_users  %>

<%= link_to orders_path, class: 'btn btn-secondary ' do %>
<span class="glyphicon glyphicon-list-alt"></span>
Back to All Orders
<% end %>
<hr>
