
<div class="row">
    <div class="col-sm-6">
      <h1> <b> <%= @order.restaurant%> </b> order members</h1>
    </div>

    <div class="col-sm-6 text-right">
   
   <% if @order.user.id ==  current_user.try(:id) %>

        <%= link_to new_order_order_user_path, class: 'btn btn-primary' do %>
          Invite new member/s
        <% end %>
    <% end %>
    </div>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Status</th>
            <th>Action</th>
        
      </tr>
    </thead>

    <tbody>
      <% @order_users.each do |order_user| %>

        <%= content_tag :tr, id: dom_id(order_user), class: dom_class(order_user) do %>
          
                      <td><%= order_user.user.email %></td>
                      <td><%= order_user.status %></td>

            <% if order_user.user.id != order_user.order.user.id and current_user.try(:id) == order_user.order.user.id %>
              <td><%= link_to 'Remove invitation', order_order_user_path(order_user.order.id,order_user.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td> </td>
            <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>


<%= link_to 'Back to all orders', orders_path , class:"btn btn-secondary"%>

</div>

<hr>
