<h1> Invite Friends </h1>
<% for user in @users %>
  <div class="user " style="margin: 2%x;padding:2%; text-align:center;width:200px ;float: left" >
    <p>
    
        <div >
           <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize: "#{100}x#{100}!"), class: "rounded-circle" %>
            <% else %>
                  <%= image_tag("avatar1.png", :alt => "Avatar Image", :style => "height:100px;width:100px;") %>
            <%end%>
        </div>
        
      <strong><%=h user.first_name %> <%=h user.last_name %> </strong> <br>
      <%= link_to "Invite", order_order_users_path(params[:order_id],:user_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>


<div style="clear:both;"></div>
<hr>


<h1> Invite Groups </h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
  <tr>
    <th> Name </th>

    <th colspan="2">Actions</th>
  </tr>
 
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name%>
      <td><%= link_to "Invie All Group Members", add_group_path(params[:order_id],:group_id => group) %></td>
    </tr>
  <% end %>
</table>
</div>



<%= link_to 'Cancel', order_order_users_path , class:"btn btn-secondary "%>
<hr>