<div class="page-header">
  <%= link_to order_users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Order_users
  <% end %>
  <%= link_to edit_order_user_path(@order_user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order_user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Status:</dt>
  <dd><%= @order_user.status %></dd>

  <dt>Order:</dt>
  <dd><%= @order_user.order %></dd>

  <dt>User:</dt>
  <dd><%= @order_user.user %></dd>

</dl>
